<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key ="SharedMailBox" value="Enter your mailbox here"/>
    <add key ="LogLocation" value="Environment.SpecialFolder.MyDocuments"/>
    <add key ="DownloadLocation" value="Enter your location for download attachments"/>
    <add key="ExcelPath" value="Enter the location of the excel"/>
    <add key="IsSharedMailbox" value="N"/>
  </appSettings>
</configuration>